.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddMemberModal .modal-content {
    background: white;
    border-radius: 8px;
    width: 600px;
    max-width: 90%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-header h3 {
    margin: 0;
}

.close-button {
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
}

.AddMemberModal .modal-content .search-input {
    width: 500px;
    height: 8px;
    margin: 0 10px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-list {
    max-height: 300px;
    overflow-y: auto;

}

.account-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.account-image {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1px;
}

.account-info {
    flex-grow: 3;
    padding: 0 10px 5px 10px;
}

.account-info .nickname {
    font-weight: bold;
    font-size: 20px;
}

.login-id {
    color: #777;
    font-size: smaller;
    margin-top: 6px;
}
.invited {
    margin-right: 15px;
    background-color: #ccc;
}
.account-list .add-button {
    font-size: larger;
    max-width: 35px;
    min-width: 35px;
    color: white;

   
    height: 35px;
    margin-right: 10px;
    background-color: #EBEBEB;
    color: black;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
}

.add-button:hover {
    background: #0056b3;
}

.login-id {

    margin-right: 28px;
}