.follow-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 12rem;
}

.follow-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.follow-info > div {
  margin: 0 10px;
  font-size: 1.25rem;
}

.follow-button {
  margin-top: 10px;
  margin-right: -7rem;
  width: 7em;
  padding: 10px 20px;
  background-color: #EBEBEB;
  color: black;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
}

.follow-button:hover {
  background-color: #999999;
}
.follow-button.active {
  margin-top: 10px;
  margin-right: -7rem;
  width: 7em;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
}