.gridList {
    display: flex;
    justify-content: center;
    margin: 40px auto;
}

.postGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    
}

.imageContainer{
    position: relative;
    width: 210px;
    height: 297px;
    overflow: hidden;

}

.poster {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.poster:hover {
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s ease;
}

.overlay > * {
    margin: 0;
}

.moreEn {
    font-size: 13px;
}

.imageContainer:hover .overlay {
    opacity: 1;
    cursor: pointer;
}


.postInfo {
    text-align: center;
    width: 210px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.postTitle {
    color: black;
    font-weight: 500;
    margin-bottom: 7px;
}

.postTitle:hover {
    cursor: pointer;
}

.postPeriod {
    font-size: 15px;
    margin-bottom: 7px;
    color: #615F5F;
}

.postState {
    font-size: 15px;
    color: #615F5F;
}

.arrow {
    margin-top: 5px;
    margin-bottom: 3px;
}
