.MainSlide {
    
}

.typography {
    color: white;
    padding: 8rem 20rem;
    font-family: 'pretendard black';
    font-size: 9rem;
    line-height: 105%;
    background-color: black;
    height: 27rem;
    }

.TypoChinese{
        font-weight: bolder;
 }
.TypoKorean {
    margin-left: 8.7rem;
    margin-top: 0.8rem;

}

.TypoEnglish {
    margin-left: 15rem;
}