.members-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.add-member-button {
   
    color: black;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.members-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1rem;
}

.member-item {
    width: calc(20% - 10px); /* 5개씩 한 줄에 배치 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-image {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.no-members {
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    color: #a1a1a1;
    padding: 2rem;
}
