.Header {
    background-color: black;
    width: 100%;
    height: 7.2rem;
    color: white;
    padding: 10px 30px 5px 30px;
    box-sizing: border-box;
}

.Header a {
    color: white;
}

.Header a:active {
    color: white;
}

.Header a:visited {
    color: white;
}

.Header .NavCategories a {
    color: #D1D1D1;
}

.Header .NavCategories a:active {
    color: #D1D1D1;
}

.Header .NavCategories a:visited {
    color: #D1D1D1;
}

.Header .NavCategories a:hover {
    color: white;
    font-weight: bold;
}

.Header .NavCategories .selected a {
    color: white;
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}

.HeaderContents {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.NavBar {
    display: flex;
    flex-grow: 1;
}

.NavLogo {
    margin: 23px 20px;
    cursor: pointer;
}

.NavCategories {
    display: flex;
    list-style-type: none;
    text-align: center;
    padding-left: 30px;
    cursor: pointer;
    margin-top: 32px;
    margin-bottom: 10px;
    font-size: 18px;
}

.InnerItem {
    margin: 10px;
}

.NavRight {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
}

.Hello {
    display: flex;
    flex-direction: column; 
    margin-bottom: 5px; 
}

.Hello .userName {
    border-bottom: 1px solid white; /* 간격 띄워진 밑줄 */
    cursor: pointer;
}

.NavIcon {
    display: flex;
    gap: 0.3rem; 
    padding-bottom: 0.5rem;
    align-items: center;
}

.material-symbols-outlined {
    cursor: pointer;
    font-variation-settings: 'wght' 200;
    font-size: 28px;
}

.NavIcon .editIcon {
    margin-right: 2rem;
    width: 40px;
    height: 40px;
}

.NavIcon .mypageIcon {
    width: 35px;
    height: 35px;
}

.NavIcon .notiIcon {
    width: 35px;
    height: 35px;
}
