.Header {
    background-color: black;
    width: 100%;
    color: white;
    padding: 10px 30px 5px 30px;
    box-sizing: border-box;
}
.Header a {
    color:white;
}
.Header a:active {
    color: white;
}
.Header a:visited {
    color: white;
}

.Header .NavCategories a {
    color:#D1D1D1;
}
.Header .NavCategories a:active {
    color: #D1D1D1;
}
.Header .NavCategories a:visited {
    color: #D1D1D1;
}
.Header .NavCategories a:hover {
    color: white;
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}

.Hello {
    text-align: right;
}

.Hello .userName {
    border-bottom: 1px solid white; /* 간격 띄워진 밑줄 */
    cursor: pointer;
}

.HeaderContents {
    display: flex;
    justify-content: space-between;
}

.NavBar {
    display: flex;
    flex-grow: 1;
}


.NavLogo {
    margin: 15px 20px;
    cursor: pointer;
}

.NavCategories {
    display: flex;
    list-style-type: none;
    text-align: center;
    padding-left: 30px;
    cursor: pointer;
    margin-top: 32px;
    margin-bottom: 10px;
    font-size: 18px;
}


.InnerItem {
    margin: 10px;
}



.NavIcon {
    display: flex;
    margin-top: 30px;
}

.material-symbols-outlined {
    margin: 0 5px;
    cursor: pointer;
    font-variation-settings: 
        'wght' 200;
}