.SearchBox {
    position: absolute;
    left: 50%;
    

    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button,
    input::-webkit-search-results-button,
    input::-webkit-search-results-decoration{
    opacity: 0;
    }   /*크롬 기본 style 제거*/
    }
    
    input{
        border-radius: 0%;
        border-color: black;
        width: 30rem;
        height: 3rem;
        margin: 3rem;
      

        
    }