.SearchBox {
    display: flex;
    justify-content: center;
    ;
    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button,
    input::-webkit-search-results-button,
    input::-webkit-search-results-decoration{
    opacity: 0;
    }   /*크롬 기본 style 제거*/
    }
    
    input {
        border-radius: 0%;
        border-color: black;
        width: 55rem;
        height: 3.5rem;
        margin: 4rem;
        padding: 1.5rem;
        font-size: large;
        
    }