.tooltip-content {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none; /* Initially hidden */
    z-index: 10;
    width: 300px;
    bottom: 100%;
    transform-origin: 50% 100%;
}

.tooltip-content .tooltip-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Space between header and text */
}

.tooltip-content .tooltip-image {
    width: 80px; /* Increase size for better visibility */
    height: 80px;
    border-radius: 50%;
    margin-right: 10px; /* Space between image and follow button */
}

.tooltip-content .follow-button, .tooltip-content .following-button {
    margin: 5px -3px 0 6.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex-shrink: 0; /* Prevent button from shrinking */
    width: 6rem; /* Ensure buttons are the same size */
    height: 2.5rem;


}

.tooltip-content .follow-button {
    background-color: #eaeaea;
    color: rgb(29, 29, 29);
}

.tooltip-content .following-button {
    background-color: #004080; /* Darker color for '팔로잉' button */
    color: white;
}

.tooltip-content .follow-button:disabled, .tooltip-content .following-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.tooltip-content .tooltip-info {
    display: block; /* Ensure the text is below the image and follow button */
}

.tooltip-content .tooltip-info h4 {
    margin: 0;
    margin-bottom: 5px;
}

.tooltip-content .tooltip-info p {
    margin: 0;
    word-wrap: break-word;
}

.member-item:hover .tooltip-content {
    position: absolute;
    display: block;
}
