.fileInput {
    display: none;
}

.fileUpload {
    
}

.filePreview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fileItem {
    margin-top: 20px;
}

